table, th, td {
	border: 1px solid black;
	background-color: #FFFFFF;
	color: black;
}
.welcome {
	background-color: silver;
	text-align: center;
}

body {
	background-color: black;
	color: white;
	font-family: Arial, Helvetica, sans-serif;
}
.collective_div {
	display: inline-block;
}
.links a {
	padding-left: 30px;
	padding-right: 30px;
	color: #5c5c5c;
}
.single_verb_class {
	display: inline-block;
	padding: 20px;
}
.links a:hover {
	color: white;
}
.hidden {
	display: none;
}
#master_selection {
	display: inline-block;
}
#selection_stuff, #jump {
	display: inline-block;
}
#noun_base, #participle {
	display: inline-block;
}
.selected {
	animation-name: getYourAttentionAnimation;
	animation-duration: 1s;
	animation-iteration-count: 1;
	animation-direction: normal;
	animation-timing-function: linear;
}
.selected:hover {
	animation-name: getYourAttentionAnimation-hover;
	animation-duration: 1s;
	animation-iteration-count: 1;
	animation-direction: normal;
	animation-timing-function: linear;
}
b.verb_table {
	display: inline-block;
}
@keyframes getYourAttentionAnimation-hover {
	0% { 
		color: red;
		transform: rotate(0deg);
	}
	10% { 
		transform: rotate(-10deg); 
	}
	20% {
		transform: rotate(10deg);
		}
	30% {
		color: red;
		transform: rotate(-10deg);
	}
	40% {
		transform: rotate(10deg);
		}
	50% {
		color: red;
		transform: rotate(-10deg);
	}
	60% {
		transform: rotate(10deg);
		}
	70% {
		color: red;
		transform: rotate(-10deg);
	}
	80% {
		transform: rotate(10deg);
		}
	90% {
		color: red;
		transform: rotate(-10deg);
	}
	100% { 
		color: black; 
		transform: rotate(0deg);
	}
	
}
@keyframes getYourAttentionAnimation {
	0% { 
		color: red;
		transform: rotate(0deg);
	}
	10% { 
		transform: rotate(-10deg); 
	}
	20% {
		transform: rotate(10deg);
		}
	30% {
		color: red;
		transform: rotate(-10deg);
	}
	40% {
		transform: rotate(10deg);
		}
	50% {
		color: red;
		transform: rotate(-10deg);
	}
	60% {
		transform: rotate(10deg);
		}
	70% {
		color: red;
		transform: rotate(-10deg);
	}
	80% {
		transform: rotate(10deg);
		}
	90% {
		color: red;
		transform: rotate(-10deg);
	}
	100% { 
		color: black; 
		transform: rotate(0deg);
	}
	
}